@model ProductCategoriesVM

@{
    ViewData["Title"] = "Create";
}

<h1>Create</h1>

<h4>Product</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        @Model.Product.Name
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="@Model.Product.Name" class="control-label"></label>
                <input asp-for="@Model.Product.Name" class="form-control" />
                <span asp-validation-for="@Model.Product.Name" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="@Model.Product.Description" class="control-label"></label>
                <input asp-for="@Model.Product.Description" class="form-control" />
                <span asp-validation-for="@Model.Product.Description" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label for="CategoryID">Choose a category:</label>
                <select name="CategoryID" id="CategoryID" class="form-control">
                   @foreach (Category category in Model.Categories) {
                    <option value="@category.ID">@category.Name</option>
                    }
                </select>
            </div>
            <div class="form-group">
                <label asp-for="@Model.Product.Image" class="control-label"></label>
                <input asp-for="@Model.Product.Image" class="form-control" />
                <span asp-validation-for="@Model.Product.Image" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="@Model.Product.Price" class="control-label"></label>
                <input asp-for="@Model.Product.Price" class="form-control" />
                <span asp-validation-for="@Model.Product.Price" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
